.voters-new.container
  .row
    .col-lg-8.offset-lg-2
      %a.btn.btn-outline-primary.btn-sm.back-btn{ href: request.referer, title: 'Back' }
        = render 'partials/icons/arrow-left'
        Back
      .card
        .card-block
          = form_for [:admin, @proposal], class: 'voters-new' do |f|
            .form-group
              %h5 Campaign
              = f.collection_select :campaign_id, Campaign.all, :id, :title, { include_blank: 'None' }, { class: 'form-control' }
            .form-group
              %h5 Proposal
              = f.label :title
              = f.text_field :title, class: 'form-control'
              = f.label :description
              = f.text_area :description, rows: 8, class: 'form-control'
              = f.label :budget
              = f.text_field :budget, value: number_to_currency(@proposal.budget, precision: 2, format: "%n"), class: 'form-control'
            .form-group
              .row
                .col-lg-4
                  %p
                    = render 'partials/icons/location'
                    %strong
                      District
                  = f.collection_select :district_id, @districts, :id, :name, {}, { class: 'form-control' }
                .col-lg-4
                  %p
                    = render 'partials/icons/folder'
                    %strong
                      Area
                  = f.collection_select :area_id, @areas, :id, :name,  {}, { class: 'form-control' }
                .col-lg-4
                  %p
                    = render 'partials/icons/tag'
                    %strong
                      Tags
                    = f.collection_check_boxes :tag_ids, @tags, :id, :name do |b|
                      .form-check
                        %label.form-check-label
                          = b.check_box class: 'form-check-input'
                          = b.object.name
            .form-group
              %h4 Monitoring
              .form-check
                %label.form-check-label
                  = f.check_box :completed, class: 'form-check-input'
                  The proposal has been brought to completion
            = f.submit 'Save', class: 'btn btn-primary'

