%header{ role: 'banner' }
  .container
    .row.centrable
      %nav.navbar
        %a.navbar-brand{ href: root_path }
          %h1
            = _('OpenBudgets')
            - if admin_zone?
              %span{style: 'font-weight: 100;'} Admin
      .navbar-user
        - if current_voter
          = _('Welcome %{current_voter}') % { current_voter: current_voter }
          - if admin_role?
            %span.separator
              |
            - if admin_zone?
              %a{ href: root_path, title: _('Process') }
                = _('Process')
            - else
              %a{ href: admin_proposals_path, title: _('Admin') }
                = _('Admin')
          %span.separator
            |
          %a{ href: signout_voters_path, title: _('Sign out') }
            = _('Sign out')
        - else
          %a{ href: new_voter_path(redirect: request.path), title: _('Sign in / Register') }
            = _('Sign in / Register')