= render 'partials/page-title', title: _('Sign in / Register')

.voters-new.container
  .row
    .col-lg-8.offset-lg-2
      .card
        .card-block
          = form_for @voter, as: :voter, url: voters_path, method: :post, class: 'voters-new' do |f|
            .form-group
              = f.label _('Email address')
              = f.text_field :email, class: 'form-control'
              = f.fields_for :secret_data do |df|
                - VoterSecret.list_of_secrets.each do |secret|
                  .form-group
                  = df.label secret, _(secret.humanize)
                  = df.text_field secret.to_sym, class: 'form-control'
            = f.submit _('Email me a link to sign in'), class: 'btn btn-primary'