.card
  .card-header
    .proposal-budget
      %strong
        = number_to_currency(proposal.budget, unit: '', precision: 2, format: "%n %u")
      €
    .btn.btn-outline-primary.btn-sm.votes-btn
      = n_('%{votes} vote', '%{votes} votes', proposal.votes) % { votes: proposal.votes }
    %div{ class: 'btn btn-outline-primary btn-sm status-btn status-'+proposal.status.to_s }
      = proposal.status.to_s.humanize
  .card-block.row
    .col-lg-9
      - unless controller.action_name == 'show'
        %a.proposal-title{ href: monitoring_proposal_path(proposal.id), title: proposal.title }
          %h3
            = proposal.title
      - else
        .proposal-title
          %h3
            = proposal.title
      - unless proposal.description.blank?
        - if controller.action_name == 'show'
          %p.proposal-description
            = proposal.description
        - else
          %p.proposal-description
            = truncate(proposal.description, length: 230, separator: ' ')
          %a.btn.btn-outline-primary.btn-sm.more-info-btn{ href: monitoring_proposal_path(proposal.id), title: proposal.title }
            = _('More Info')
    .col-lg-12
      = render 'partials/proposal-classifiers-list', classifiers: proposal.classifiers
      - if controller.action_name == 'show'
        = render 'partials/social-sharer', title: proposal.title
        = render 'partials/monitoring/proposal-comments', proposal: proposal
