.container
  %h4
    = comments_count_for proposal
  = form_for [:monitoring, proposal, Comment.new] do |f|
    .form-group
      = f.text_area :text, class: 'form-control', placeholder: 'Leave a comment...'
    .form-actions
      = f.submit 'Comment', class: 'btn btn-primary'
- proposal.threaded_comments.each do |comment|
  .container{style: 'margin-top: 1.5em;'}
    - is_response = !!comment.parent
    .row{ style: 'margin-top: 1em;' }
      .col-lg-12{ style: ('padding-left: 3em;' if is_response) }
        = render 'partials/monitoring/comment-author-and-date', comment: comment
    .row
      .col-lg-12{ style: ('padding-left: 3em;' if is_response) }
        = comment.text
    .row
      .col-lg-12{ style: ('padding-left: 3em;' if is_response) }
        %button.btn.btn-link{ style: 'outline: none; padding: 0;', type: 'button', data: { toggle: 'collapse', target: "#replyTo#{comment.id}" }, aria: { expanded: false, controls: "#replyTo#{comment.id}" } }
          Reply
    .row.collapse{ id: "replyTo#{comment.id}", style: 'margin-top: 1em;'}
      .col-lg-12{ style: ('padding-left: 3em;' if is_response) }
        = form_for [:monitoring, proposal, Comment.new] do |f|
          .form-group
            = f.hidden_field :comment_id, value: comment.id
            = f.text_area :text, class: 'form-control', placeholder: 'Leave a comment...'
          .form-actions
            = f.submit 'Comment', class: 'btn btn-primary'
