= _('We have noticed that although you registered to the participatory budgeting process, your verification status is still pending.')
\
= _('This is your verification token:')
= @voter.verification_token
\
= _('Please confirm your verification status by following this link:')
= verify_voters_url(token: @voter.verification_token)
\
= _('Thanks!')